<section class="testimonial-section">

    <bee-grid-1d-layout [inputGridDistribution]="'1fr 2fr'" [gap]="80">
        
        <bee-image [imageSrc]="imgSrc()" [userClass]="'image'"/>

        <div>
            <bee-title [userClass]="'title'">
                "We couldn't live without these chairs anymore"
            </bee-title>
            <blockquote class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
                repellat at, nesciunt quia cum minima ipsum culpa totam sapiente
                recusandae earum debitis doloribus in quasi voluptatibus!
            </blockquote>
            <bee-paragraph [userClass]="'author'">
                &mdash; Mary and Sarah Johnson
            </bee-paragraph>
        </div>
    
    </bee-grid-1d-layout>

</section>